Evaluate using standard data format like RFC 8949 (CBOR) to define full-featured Cadence Binary Format (CBF)

### Problem

Cadence Binary Format (CBF) is a new data format for Cadence external values.  CBF will replace the current JSON-based format.  It is intended to produce deterministic encoding and be more efficient (smaller encoded size and faster codec speed).  However, there are some issues:

- CBF specification is currently missing an important required feature that would reduce size of network traffic.
- CBF specification doesn't leverage an existing data format, which increases the scope and complexity of specs and codecs.
- In general, codecs can require breaking changes if they implement portions of an incomplete new custom format specification (esp. if the format doesn't have extensibility features).

Defining all of CBF as a monolithic specification without leveraging an existing data format to handle the generic data model introduces various risks (cost, schedule, security) and future headaches (breaking changes after deployment to handle missed edge cases, growing requirements, and evolving tradeoff priorities).

Updates #1651

### Proposed Solution

Leverage an existing generic data format to define CBF, so we can focus on specifying CBF-specific features and reuse existing solutions for generic features (like encoding/decoding generic data model not specific to CBF).

In general, the disadvantage of leveraging a generic data format (e.g. slightly less reduction in encoded data size) is relatively small compared to the cost and risks of designing, implementing, testing, fuzzing, deploying, and maintaining a monolithic custom format.

It is best practice to use a stable and extensible generic format to define more specific formats or new protocols.

For example, CBOR [RFC 8949](https://www.rfc-editor.org/rfc/rfc8949.html) (a generic data format) is used to define protocols and specific data formats.  CBOR is used in W3C's WebAuthn, IETF's COSE [RFC 9052](https://www.rfc-editor.org/rfc/rfc9052.html), and etc.  This allows [COSE codec](https://github.com/veraison/go-cose) to use [CBOR codec](https://github.com/fxamacker/cbor) under the hood.

The translation between CBOR <-> JSON is well defined in CDDL [RFC 8610](https://www.rfc-editor.org/rfc/rfc8610) which provides an easy and unambiguous way to express structures for protocol messages and data formats that use CBOR or JSON. 

Leveraging an existing data format like CBOR can simplify CBF specification, which simplifies the design, implementation, testing, maintenance, security, and extensibility of CBF codecs.

### Generic Data Formats

There are many generic data formats.  A generic data format used by CBF needs to be deterministic and smaller and faster than JSON.  The format should be designed to handle JSON interoperability, format extensibility, and detection of malformed data.

Ideally, it should have high quality codecs available in each required programming language (e.g. Go and JavaScript).

Another criteria is stability.  Changes to a generic data format specification can cause breaking changes.  Ideally, the generic data format specification should be an unchanging standard that one company cannot change unilaterally.

Extensibility is important, so unanticipated CBF requirements can be handled by codecs without modifying the generic data format specs.  Extensible formats help us avoid paying for features we don't use while helping us avoid breaking changes to dependent formats and codecs when requirements and tradeoff priorities evolve after deployment.

Some additional notes about CBOR.

### CBOR Data Format

CBOR is concise data format that allows deterministic encoding and detection of malformed data.  It is faster and smaller than JSON.

> The Concise Binary Object Representation (CBOR) is a data format
   whose design goals include the possibility of extremely small code
   size, fairly small message size, and extensibility without the need
   for version negotiation.  These design goals make it different from
   earlier binary serializations such as ASN.1 and MessagePack.

RFC 8949 (CBOR) is an IETF Internet Standard (not just regular RFC) and is used within other standards, such as
- COSE (IETF Internet Standard). In Go, veraison/go-cose is maintained by Arm Ltd., Microsoft Corporation, etc.
- WebAuthn (W3C Web Standard). In Go,  [duo-labs/webauthn](https://github.com/duo-labs/webauthn) is maintained by Duo Labs (Cisco). 

### CBOR and JSON Translation

Replacing JSON with CBOR is simple because CBOR's generic data model is a superset of JSON's data model.

Translating between JSON and CBOR is well defined.  RFC 8610 (CDDL) provides an easy and unambiguous way to express structures for protocol messages and data formats that use CBOR or JSON.  In the future, new specific data formats can be specified in CDDL for software to produce the codecs automatically. 

### CBOR Codec Implementations in Go, JavaScript, etc.

CBOR format has high quality codecs written in Go, JavaScript, and other languages.

There are two popular CBOR codecs (in JavaScript) and one of them is maintained by Joe Hildebrand (former VP of Engineering at Mozilla and Distinguished Engineer at Cisco).

A CBOR codec (in Go) is fxamacker/cbor.  It is fast, fuzz tested, and passed multiple security assessments this year without known problems.  It is already used by onflow/atree, onflow/cadence, and onflow/flow-go and GitHub reports fxamacker/cbor/v2 is used by over 1275 repositories.
> fxamacker/cbor is used by Arm Ltd., Berlin Institute of Health at Charité, Chainlink, ConsenSys, Dapper Labs, Duo Labs (cisco), EdgeX Foundry, Mozilla, National Cybersecurity Agency of France (govt), Netherlands (govt), Oasis Labs, Tailscale, Taurus SA, Teleport, TIBCO, and others.

Microsoft Corporation recently released a [.NET platform extension for CBOR](https://learn.microsoft.com/en-us/dotnet/api/system.formats.cbor?view=dotnet-plat-ext-6.0), so CBOR can be used by all .NET languages.  In addition to .NET languages, Microsoft uses CBOR and COSE written in Go and had NCC Group complete a [security assessment (PDF)](https://github.com/veraison/go-cose/blob/main/reports/NCC_Microsoft-go-cose-Report_2022-05-26_v1.0.pdf) of veraison/go-cose (COSE codec in Go) and portions of [fxamacker/cbor](https://github.com/fxamacker/cbor) (CBOR codec in Go).  Veraison Project (by Arm Ltd.) joined Linux Foundation's Confidential Computing Consortium which has participation from Arm Ltd, Google, IBM, Intel, Microsoft, Red Hat, etc.